@{
    var context = HttpContextAccessor?.HttpContext;
    var isProduction = WebHostEnvironment.IsEnvironment("PROD");
    var langCode = context?.Request.Headers["Language"].ToString();
    var rootUrl = string.Concat(context?.Request.Headers["RootUrl"].ToString().TrimEnd('/'), "/");
    var appBaseUrl = $"{context?.Request.Scheme}://{context?.Request.Host}{context?.Request.PathBase}";
    var cdnDomain = appSettings.StaticDomain;
    var webRootPath = WebHostEnvironment.WebRootPath;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="The Risk & Forecast System"/>
    <base href="@rootUrl"/>
    <link href="@UrlHelper.ContentLink("/css/index.css", appBaseUrl, webRootPath, cdnDomain)" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    @RenderBody()
</div>

<script type="text/javascript">
    window.pageLanguage = "@langCode";
    window.rootUrl = "@rootUrl";
</script>

<script defer src="@UrlHelper.ContentLink("/js/vendor.chunk.js", appBaseUrl, webRootPath, cdnDomain)"></script>
<script defer src="@UrlHelper.ContentLink("/js/common.chunk.js", appBaseUrl, webRootPath, cdnDomain)"></script>
<script defer src="@UrlHelper.ContentLink("/js/index.js", appBaseUrl, webRootPath, cdnDomain)"></script>
<script src="@UrlHelper.ContentLink("/js/languages/lang-en-US.js", appBaseUrl, webRootPath, cdnDomain)"></script>
@if (!string.IsNullOrEmpty(langCode) && langCode != "en-US")
{
    <script src="@UrlHelper.ContentLink("/js/languages/lang-" + langCode + ".js", appBaseUrl, webRootPath, cdnDomain)"></script>
}

@if (isProduction)
{
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M09N5LNEH1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-M09N5LNEH1', {
            send_page_view: false
        });

        gtag('config', 'UA-93927620-1', {
            send_page_view: false
        });

        window.logPageViewEvent = function (pageTitle, pageLocation, pagePath) {
            try {
                window.gtag('event', 'page_view', {
                    'page_title': pageTitle,
                    'page_location': pageLocation,
                    'page_path': pagePath
                });
            }
            catch (err) {
            }
        };

        window.logViewReportDataEvent = function (eventLabel) {
            try {
                    window.gtag('event', 'view_report_data', {
                    'event_label': eventLabel || 'Report Page',
                    'event_category': 'report'
                });
            }
            catch (err) {
            }
        };

        window.logOpenBetlistEvent = function(eventLabel) {
            try {
                window.gtag('event', 'view_bet_list',
                    {
                        'event_label': eventLabel || 'Bet List Promotion',
                        'event_category': 'bet_list',
                        'non_interaction': true
                    });
            } catch (err) {}
        };
    </script>
}
</body>
</html>